body {
    line-height: 1;
    background-color: #283148;
}
ol, ul {
	list-style: none;
}
.form{
    text-align: center;     
    width: 330px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: #bbbbbb;
    
}
.login{
    font-size: 20px;
   
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.logo{
    font-family: fantasy;
    color:black;
    text-align: center; 
    font-size: 30px;
}
.google{
    margin: 10px;
}
.navbar {
    font-family: 'DM Serif Text', serif;
    font-size: 18px;
}
.navbar a:hover {
    background-color: #913535;
    color: #e9eec9;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #e9eec9;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #283148;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.tengah {
    text-align: center;
}

.logokecil {
    width: 80px;
    height: 35px;
}
.footer {
    background-color:#e9eec9;
    width: 100%;
    height: 150px;
    text-align: center;
}

.contactus {
    font-family: 'DM Serif Text', serif;
    color: #913535;
    margin-top: 8px;
}

.copyright {
    font-family: 'DM Serif Text', serif;
    color: #913535;
    font-size: 12px;
}